<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% if commande %}
      <h1>Modifier commande</h1>
    {% else %}
      <h1>Nouvelle commande</h1>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>

    {% if commande  %}
        <a href="{% url 'delete_commande' commande.id%}">Supprimer</a>
        <a href="{% url 'show_image' commande.id %}">voir image</a>
    {% endif %}
</body>
</html>