<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <li> <a href="{% url 'list_utilisateurs' %}">utilisateurs</a></li>
        <li> <a href="{% url 'list_commandes'">commandes</a></li>
</body>
</html>