<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for utilisateur in utilisateurs %}
            <a href="{% url 'show_utilisateur_commande' utilisateur.id %}">
                <li>{{ utilisateur.username }}</li>
            </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_utilisateur' %}">Nouvel utilisateur</a>
</body>
</html>