<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if utilisateur %}
      <h1>Modifier utilisateur</h1>
    {% else %}
      <h1>Nouvel utilisateur</h1>
    {% endif %}
    
    

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>

    {% if utilisateur  %}
      <a href="{% url 'delete_utilisateur' utilisateur.id %}">Supprimer</a>
    {% endif %}
</body>
</html>